

:root {
  
    --united-nations-blue: hsl(214, 56%, 58%);
    --bright-navy-blue: hsl(214, 57%, 51%);
    --spanish-gray: hsl(0, 0%, 60%);
    --black-coral: hsl(225, 8%, 42%);
    --oxford-blue: hsl(208, 97%, 12%);
    --yale-blue: hsl(214, 72%, 33%);
    --blue-ncs: hsl(197, 100%, 36%);
    --gunmetal: hsl(206, 34%, 20%);
    --gainsboro: hsl(0, 0%, 88%);
    --cultured: hsl(0, 0%, 98%);
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
    --onyx: hsl(0, 0%, 25%);
    --jet: hsl(0, 0%, 20%);
  
    /**
     * typography
     */
  
    --ff-poppins: "Poppins", sans-serif;
    --ff-montserrat: "Montserrat", sans-serif;
  
    --fs-1: calc(20px + 3.5vw);
    --fs-2: calc(18px + 1.6vw);
    --fs-3: calc(16px + 0.45vw);
    --fs-4: 15px;
    --fs-5: 14px;
    --fs-6: 13px;
    --fs-7: 12px;
    --fs-8: 11px;
  
    --fw-500: 500;
    --fw-600: 600;
    --fw-700: 700;
    --fw-800: 800;
  
    /**
     * transition
     */
  
    --transition: 0.25s ease-in-out;
  
    /**
     * spacing
     */
  
    --section-padding: 160px;
  
    /**
     * border-radius
     */
  
    --radius-15: 15px;
    --radius-25: 25px;
  
  }
  
  *, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  li { list-style: none; }
  
  a { text-decoration: none; }
  
  a,
  img,
  span, 
  label,
  ion-icon { display: block; }
  input,
  button {
    background: none;
    border: black;
    font: inherit;
  }
  
  button { 
    cursor: pointer; 
  }
  ion-icon { 
    pointer-events: none; 
  }
  html {
    font-family: var(--ff-poppins);
    scroll-behavior: smooth;
  }
  body { background: var(--white);
  .container-pack { 
    padding-inline: 15px;
  }
  
  .btn-secondary {
    border-radius: 20px;
    background-color:black;
  }
  .btn-secondary:is(:hover, :focus) { 
    background: #3f3f3f;
    border-radius: black;
 } 

  .h1,
  .h2,
  .h3 {
    font-weight: var(--fw-800);
    font-family: var(--ff-montserrat);
    text-transform: uppercase;
  }
  
  .h1 {
    color: var(--white);
    font-size: var(--fs-1);
  }
  
  .h2,
  .h3 { color: var(--gunmetal); }
  
  .h2 { font-size: var(--fs-2); }
  
  .h3 {
    font-size: var(--fs-3);
    font-weight: var(--fw-700);
  }
  .section-subtitle {
    color: rgb(194, 154, 100);
    font-size: var(--fs-5);
    text-transform: uppercase;
    font-family: var(--ff-montserrat);
    margin-bottom: 8px;
  }
  .section-title { margin-bottom: 15px; }
  
  .section-text {
    color: var(--black-coral);
    margin-bottom: 30px;
  }
  
  .card-text {
    color: var(--black-coral);
    font-size: 13px;
  }
  .package {
    margin-top: -1px;
    margin-bottom: -350px;
    padding-block: var(--section-padding); 
  }
  .package-list { margin-bottom: 40px;  }
  
  .package-list > li:not(:last-child) { margin-bottom: 30px; }
  
  .package-card {
    background: var(--cultured);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    transition: transform 0.6s ease, border-color 0.6s ease;
    border-radius: 15px;
  }
  .package-card:hover{
    transform: scale(1.03);
  }
  
  .package-card .card-banner { height: 250px; }
  
  .package-card .card-banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .package-card .card-content { padding: 30px 20px; }
  
  .package-card .card-title { margin-bottom: 15px; }
  
  .package-card .card-text {
    line-height: 1.6;
    margin-bottom: 20px;
  }
  .package-card .card-text p{
    font-size: 1px;
  }
  
  .card-meta-list {
    background: var(--white);
    max-width: max-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 8px;
    box-shadow: 0 0 5px hsla(0, 0%, 0%, 0.15);
    border-radius: 50px;
  }
  
  .card-meta-item { position: relative; }
  
  .card-meta-item:not(:last-child)::after {
    content: "";
    position: absolute;
    top: 4px;
    right: -1px;
    bottom: 4px;
    width: 1px;
    background: hsla(0, 0%, 0%, 0.3);
  }
  
  .meta-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding-inline: 9px;
    color: var(--black-coral);
    font-size: var(--fs-8);
  }
  
  .meta-box > ion-icon {
    color: #A17134;
    font-size: 13px;
  }
  
  .package-card .card-price {
    background: #A17134;
    color: var(--white);
    padding: 25px 20px;
    text-align: center;
  }
  
  .package-card .card-price .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5px 15px;
    margin-bottom: 10px;
  }
  
  .package-card .card-price .reviews { font-size: var(--fs-5); }
  
  .package-card .card-rating {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1px;
    font-size: 14px;
  }
  
  .package-card .card-rating ion-icon:last-child { color: hsl(0, 0%, 80%); }
  
  .package-card .price {
    font-size: var(--fs-2);
    font-family: var(--ff-montserrat);
    font-weight: var(--fw-800);
    margin-bottom: 20px;
  }
  
  .package-card .price span {
    font-size: var(--fs-7);
    font-weight: initial;
  }
  
  @media (min-width: 580px) {
  
    /**
     * REUSED STYLE
     */
  
    .container-pack {
      max-width: 580px;
      margin-inline: auto;
    }
  
    .btn {
      --fs-5: 16px;
      --padding: 12px 30px;
    }
  
    section:not(.cta) :is(.section-subtitle, .section-title, .section-text) {
      text-align: center;
    }
  
    .section-text { margin-bottom: 40px; }
  
    .card-text { --fs-5: 15px; }
  
  
  /**
   * responsive for larger than 768px screen
   */
  
  @media (min-width: 768px) {
  
    /**
     * CUSTOM PROPERTY
     */
  
    :root {
  
      /**
       * typography
       */
  
      --fs-5: 15px;
  
    }
    /**
     * REUSED STYLE
     */
  
    .container-pack { max-width: 800px; }
  
    .section-text {
      max-width: 60ch;
      margin-inline: auto;
    }
  
    /**
     * PACKAGE
     */
  
    .package-list { margin-bottom: 50px; }
  
    .package-list > li:not(:last-child) { margin-bottom: 40px; }
  
    .package-card {
      display: grid;
      grid-template-columns: 1.3fr 1.5fr 1fr;
    }
  
    .package-card .card-banner { height: 100%; }
  
    .package-card .card-content { padding: 40px; }
  
    .package-card .card-price {
      display: grid;
      place-content: center;
    }
  
    .package-card .card-price .wrapper { margin-bottom: 15px; }
  
    
  
  }
  /**
   * responsive for larger than 992px screen
   */
  
  @media (min-width: 992px) {
  
    /**
     * REUSED STYLE
     */
  
    .container-pack { max-width: 1050px; }
    /**
     * PACKAGE
     */
  
    .meta-box { --fs-8: 13px; }
  
    .meta-box > ion-icon { font-size: 15px; }
  
  }
  
  /**
   * responsive for larger than 1200px screen
   */
  
  @media (min-width: 1200px) {
  
    /**
     * CUSTOM PROPERTY
     */
  
    :root {
  
      /**
       * spacing
       */
  
      --section-padding: 100px;
  
    }
    /**
     * REUSED STYLE
     */
  
    .container-pack { max-width: 1180px; }
  
  }}}